@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
.form-constiner{
    transform: translateX(10%) translateY(20%);
    border:1px solid rgba(5, 5, 5,0.3);
    border-radius:5px;
    width:80%;
    padding:10px;

   
}
input{
    border: 1px solid black;
    width:89%;
    border-radius:5px;
}
    
}