.login{
    background-color:white;
    height:100vh;
    display: flex;
    flex-direction: column;
  
   
}
.login-container{
    transform: translateX(150%) translateY(10%);
    border:1px solid rgba(5, 5, 5,0.3);
    border-radius:5px;
    width:300px;
    margin:0 30px;
    padding:30px;
    align-items: center;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.login-btn {
    background-color:#F2CA67;;
    padding:10px;
    margin:5% 0;
    border:none;
}
.acc-btn{
    padding:10px;
    margin:5% 0;
    border:1px solid rgba(5, 5, 5,0.3);;
    background-color:#EBECEF;
    
}
h2{
    margin-bottom:3%;
}
form{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}


.logo{

    width:100px;
    height: auto;
    padding:10px 10px;
}
.form-heading{
    display: inline;
}
.input{
    display:block;
    width:290px;
    padding:10px;
}
.terms-para{
    width:90%;
    font-size:13px;
}