.order-container{
    background-color: white;
    height:100vh;
}

.order-detailes{

  position: absolute;
  top:20%;
  left:35%;
  border:1px solid rgba(0, 0, 0, 0.308);
  border-radius:5px;
  padding:70px;
    
}
.order-detailes>form{

    margin-top:20px;

}
.logo2{
    margin-bottom:20px;
    height:30px;
    margin-left:35%;
    margin-top:-20px;
}

.checkout{
    background-color:#F2CA67;;
    padding:10px;
    margin:10% 0;
    border:none;
    width:110%;
}