.details-form{
    background-color:white;
    height:100vh;
    
}
.form-constiner{
    transform: translateX(150%) translateY(20%);
    border:1px solid rgba(5, 5, 5,0.3);
    border-radius:5px;
    width:300px;
    padding:20px;
    align-items: center;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
   
}
input{
    margin:10px 0;
    width:100%;
}

form>input{
    padding:10px;
}
.proceed-btn{
    background-color:#F2CA67;;
    padding:10px;
    margin:5% 0;
    border:none;
    width:110%;
}